<div [class.loader-hidden]="!show" class="margin_top_bar">

</div>
<div class="loader-body" *ngIf="show">
    <!--<div class="loading">{{loaderTitle}}</div>-->
    <div class="loading">
        <!-- <img class="loading-gif" src="../../../assets/img/load.gif" /> -->
        <div class="container">
            <div class="row">
                <div id="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>